<h1>Success</h1>

<p>
  A new member has been added to $team.getTeamName()
</p>

<a href="/teams/$team.getId()/members/new"><button type="button" name="button" class="btn btn-success">Add another member to this team</button></a>
<a href="/teams/$team.getId()"><button type="button" name="button" class="btn btn-warning">Return to the $team.getTeamName() Team Page</button></a>
<a href="/teams"><button type="button" name="button" class="btn btn-info">View all Teams</button></a>
