<h1>Success</h1>

<p>
  Your Team has successfully registered for Startup Weekend.
</p>
<div class="buttonRow">
  <a href="/teams"><button type="button" name="button" class="btn btn-success">View All Teams</button></a>
  <a href="/teams/new"><button type="button" name="button" class="btn btn-warning">Register Another Team</button></a>
</div>
